#title{
  display: block;
  padding: 8px;
  padding-left: 10%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 68, 41);
  font-size: 40px;
}

#firstRow{
  padding-top: 5%;
  text-align: center;
}

#secondRow{
  padding-top: 5%;
}

#buyButton{
  background-color: rgb(0, 107, 64);
  color: white;
  border-color: black;
}

#buyButton:hover{
  background-color: rgb(0, 48, 29);
  color: white;
  border-color: black;
}

#loanButton{
  background-color: rgb(0, 107, 64);
  color: white;
  border-color: black;
}

#loanButton:hover{
  background-color: rgb(0, 48, 29);
  color: white;
  border-color: black;
}

#laptopsDropdown{
  background-color: aliceblue;
}


